<div
  class="flex-1 overflow-auto p-2 pt-0 rounded-box border border-base-content/5 bg-base-100"
>
<table class="table table-sm table-pin-rows">
  <thead>
    <tr>
        @for (column of tableColumns; track column.key) {
          @let element = getSelectedPivickElementFromKey(column);
          <th
            class="cursor-pointer items-center p-1"
            [class]="{'bg-primary': !isMeasureColumn(column), 'text-primary-content': !isMeasureColumn(column), 'bg-secondary': isMeasureColumn(column), 'text-secondary-content': isMeasureColumn(column)}"
            (click)="onTableHeaderClick($event, element)"
          >
            @if (element?.orderDirection) {
                <ng-icon [name]="element?.orderDirection === OrderType.ASC ? 'heroArrowLongUp' : 'heroArrowLongDown'"></ng-icon>
                <small>{{element?.orderIndex}}</small>
            }
            <span>
              {{getCaption(column)}}
            </span>
          </th>
        }
    </tr>
  </thead>
  <tbody>
    @for (row of tableData; track $index) {
    <tr class="hover:bg-primary-content hover:text-primary p-1">
      @for (column of tableColumns; track column.key) {
        <td
          class="p-1"
          [class]="{'bg-secondary/2': isMeasureColumn(column), 'bg-primary/2': !isMeasureColumn(column)}"
        >
          {{row[column.key]}}
        </td>
      }
    </tr>
    }
  </tbody>
</table>
</div>
