:host {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  display: flex;
}

.pivick-table {
  max-height: 100%;
  max-width: 100%;
  padding: 1em 1em 58px;
}

.dimension-column-header {
  background-color: var(--p-tag-primary-background);
  color: var(--p-tag-primary-color);
}

.measure-column-header {
  background-color: var(--p-tag-info-background);
  color: var(--p-tag-info-color);
}

::ng-deep
  .p-datatable-striped.p-datatable-hoverable
  .p-datatable-tbody
  > tr:not(.p-datatable-row-selected):hover {
  background-color: var(--p-tag-warn-background);
}
