:host {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
  display: flex;
}

.pivick-table {
  max-height: 100%;
  max-width: 100%;
  padding: 1em 1em 58px;
}

.dimension-column-header {
  background-color: var(--p-button-outlined-primary-active-background);
  color: var(--p-button-outlined-primary-color);
}

.measure-column-header {
  background-color: var(--p-button-outlined-info-active-background);
  color: var(--p-button-outlined-info-color);
}
