<div class="data-source-pane-container">
    <h3>Data Models</h3>
    <ul *ngIf="models.length > 0; else loading">
        <li *ngFor="let model of models">
            <h4>{{ model.name }}</h4>
            <h5>Dimensions</h5>
            <ul>
                <li *ngFor="let dim of model.dimensions">
                    {{ dim.name }}
                </li>
            </ul>
            <h5>Measures</h5>
            <ul>
                <li *ngFor="let measure of model.measures">
                    {{ measure.name }}
                </li>
            </ul>
        </li>
    </ul>
    <ng-template #loading>Loading models...</ng-template>
</div>
