<app-element-list [cube]="selectedCubeName"></app-element-list>
<div class="divider divider-horizontal m-px w-[2px]!"></div>
<div>
  <div class="navbar bg-base-100 shadow-sm min-h-[3rem]!">
    <div class="flex-none"></div>
    <div class="flex-1"></div>
    <div class="flex-none">
      <button class="btn btn-soft btn-error btn-xs"><ng-icon name="heroTrash"></ng-icon></button>
    </div>
  </div>
  <app-selection-list-box
    type="row"
    [title]="'rows' | translate"
    [elements]="rows"
    (onElementDropped)="onElementAdd($event, 'row')"
  ></app-selection-list-box>
  <app-selection-list-box
    type="column"
    [title]="'columns' | translate"
    [elements]="columns"
    (onElementDropped)="onElementAdd($event, 'column')"
  ></app-selection-list-box>
  <app-selection-list-box
    type="measure"
    [title]="'measures' | translate"
    [elements]="measures"
    (onElementDropped)="onElementAdd($event, 'measure')"
  ></app-selection-list-box>
</div>
<div class="divider divider-horizontal m-px w-[2px]!"></div>
<app-pivick-table></app-pivick-table>
