<app-element-list
  [cube]="selectedCubeName"
  (onElementDoubleClick)="onElementDoubleClick($event)"
>
</app-element-list>
<div class="divider divider-horizontal m-px w-[2px]!"></div>
<div>
  <div class="navbar bg-base-100 shadow-sm min-h-[3rem]!">
    <div class="flex-none"></div>
    <div class="flex-1"></div>
    <div class="flex-none">
      <button class="btn btn-soft btn-error btn-xs"
              (click)="clearReport()"
      ><ng-icon name="heroTrash"></ng-icon></button>
    </div>
  </div>
  <app-selection-list-box
    type="row"
    [title]="'rows' | translate"
    [elements]="rows"
    (onElementAdd)="onElementAdd($event, 'row')"
    (onElementRemove)="onElementRemove($event, 'row')"
  ></app-selection-list-box>
  <app-selection-list-box
    type="column"
    [title]="'columns' | translate"
    [elements]="columns"
    (onElementAdd)="onElementAdd($event, 'column')"
    (onElementRemove)="onElementRemove($event, 'column')"
  ></app-selection-list-box>
  <app-selection-list-box
    type="measure"
    [title]="'measures' | translate"
    [elements]="measures"
    (onElementAdd)="onElementAdd($event, 'measure')"
    (onElementRemove)="onElementRemove($event, 'measure')"
  ></app-selection-list-box>
</div>
<div class="divider divider-horizontal m-px w-[2px]!"></div>
<div class="flex-1 flex flex-col">
  <div class="navbar bg-base-100 shadow-sm min-h-[3rem]!">
    <div class="flex-none"></div>
    <div class="flex-1"></div>
    <div class="flex-none">
      @if (isLoading) {
        <span class="pr-2">{{ 'loading' | translate }}</span>
        <span class="loading loading-dots loading-xl mr-2"></span>
      }
    </div>
  </div>
  <app-pivick-table
    [cubeName]="selectedCubeName"
    [rows]="rows"
    [columns]="columns"
    [measures]="measures"
    [data]="data"
    (onElementSortChangeClick)="changeElementSorting($event)"
  ></app-pivick-table>

</div>
