:host {
    overflow-x: hidden;
    display: flex;
    user-select: none;
}
.tree {
    flex: 1;
}

::ng-deep .p-tree-node-leaf > .p-tree-node-content .p-tree-node-toggle-button {
    width: 0;
}

::ng-deep .p-tree-node-leaf {
    border: 1px solid var(--p-inputtext-border-color);
    border-radius: var(--p-tree-node-border-radius);
    cursor: pointer;
}

::ng-deep .p-tree-node-leaf:hover {
    background-color: var(--p-button-text-plain-hover-background);
}

::ng-deep .p-tree-node-content {
    padding: 0;
}
