@import 'tailwindcss';
@plugin "daisyui" {
  themes: corporate --default;
}
@plugin "daisyui/theme" {
  name: 'corporate';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(22.389% 0.031 278.072);
  --color-primary: #3775c8;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(82% 0.189 84.429);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: #d1ebff;
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(100% 0 0);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.1875rem;
  --size-field: 0.1875rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}

body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
}
