<div class="navbar bg-base-100 shadow-sm min-h-[3rem]!">
  <div class="flex-none"></div>
  <div class="flex-1"></div>
  <div class="flex-none">
    <button class="btn btn-soft btn-error btn-xs"><ng-icon name="heroTrash"></ng-icon></button>
  </div>
</div>
<app-selection-list-box
  type="row"
  [title]="'selectionlist.rows' | translate"
  [elements]="rows"
  (onElementDropped)="onElementAdd($event, 'row')"
></app-selection-list-box>
<app-selection-list-box
  type="column"
  [title]="'selectionlist.columns' | translate"
  [elements]="columns"
  (onElementDropped)="onElementAdd($event, 'column')"
></app-selection-list-box>
<app-selection-list-box
  type="measure"
  [title]="'selectionlist.measures' | translate"
  [elements]="measures"
  (onElementDropped)="onElementAdd($event, 'measure')"
></app-selection-list-box>
