<!-- Placeholder for the settings menu in this view -->
<p-menubar [model]="[]">
  <ng-template #end> </ng-template>
</p-menubar>
<!-- End Placeholder for the settings menu in this view -->

<app-selection-list-box
  title="selectionlist.rows"
  emptyMessage="selectionlist.emptyDimensionList"
  type="dimension"
  target="rows"
  [itemObservable]="this.pivickAnalysis.selectedRows$"
></app-selection-list-box>

<app-selection-list-box
  title="selectionlist.columns"
  emptyMessage="selectionlist.emptyDimensionList"
  type="dimension"
  target="columns"
  [itemObservable]="this.pivickAnalysis.selectedColumns$"
></app-selection-list-box>

<app-selection-list-box
  title="selectionlist.measures"
  emptyMessage="selectionlist.emptyMeasureList"
  type="measure"
  target="measures"
  [itemObservable]="this.pivickAnalysis.selectedMeasures$"
></app-selection-list-box>
