<!-- Placeholder for the settings menu in this view -->
<p-menubar [model]="[]">
  <ng-template #end> </ng-template>
</p-menubar>
<!-- End Placeholder for the settings menu in this view -->

<p-list-box
  class="list-box"
  (dragover)="onDragOver($event, 'dimension')"
  (drop)="onTargetDrop($event, 'dimension', 'rows')"
  [emptyMessage]="'selectionlist.emptyDimensionList' | translate"
  [options]="selectedRows"
>
  <ng-template #item let-row> {{getLabel(row)}} </ng-template>
</p-list-box>

<p-list-box
  class="list-box"
  (dragover)="onDragOver($event, 'dimension')"
  (drop)="onTargetDrop($event, 'dimension', 'columns')"
  [emptyMessage]="'selectionlist.emptyDimensionList' | translate"
  [options]="selectedColumns"
>
  <ng-template #item let-col> {{getLabel(col)}} </ng-template>
</p-list-box>

<p-list-box
  class="list-box"
  (dragover)="onDragOver($event, 'measure')"
  (drop)="onTargetDrop($event, 'measure', 'measure')"
  [emptyMessage]="'selectionlist.emptyMeasureList' | translate"
  [options]="selectedMeasures"
>
  <ng-template #item let-measure> {{getLabel(measure)}} </ng-template>
</p-list-box>
